<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tyler.book_monitor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookmonitor"
        tools:targetApi="31">
        <activity
            android:name=".ui.download.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.archive.ArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_books.AllBooksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_authors.AllAuthorsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.content.ContentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.author.AuthorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chapter.ChapterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cover.CoverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>